---
title: Dopetrope
layout: default
---
<body>

	{% include nav.html %}
        <!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row">
				{% include sidebar.html %}
				<div class="8u skel-cell-important">

					<!-- Content -->
						<article class="box post">
							<header>
								<h2>Hi mum!</h2>
								<p>On the off chance you are someone other than my mum...HI!</p>
							</header>
							<p>
                                                        This is a collection of stuff that I have been playing around with and random ideas I've had. I hope you get something out of it.
							</p>
						</article>

				</div>
			</div>
		</div>
	</div>
